
.open-sans-normal-front {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



  /* shared style */
  .bg-color{
    background-color: #C6E4D6;
  }
 .btn-green{
    background-color: #006A50;
    font-size: 18;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 17px;
 }
 .description{
  font-size: 16px;
  font-weight: normal;
}

 .title{
  font-size: 40px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 25px;
 }
 .Pillars{
  display: flex;
  justify-content: space-between;
 }

 

  /* nav style */

  nav{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
  }

  nav .nav{
    font-size: 32px;
    font-weight: bold;
  }
  nav .sign{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
  }

  /* main style */

  main{
    max-width: 1280px;
    margin: 50px auto;
  }
/* banner section */
  .banner{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 117px 60px;
    align-items: center;
    border-radius: 20px;
  }
  .banner-content{
    width: 622px;

  }

  .bangladesh{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
  }
  .banner-content .motto{
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
  }
 /* Pillars style */
  .Pillars .ideas .text{
    font-size: 20px;
    font-weight: bold;
  }

  .Pillars .ideas{
    border: 2px;
    margin: 24px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 6px 40px 0px rgba(14, 14, 14, 0.15);
  }

  /* vision style*/
  .cl-blue{
    background-color: rgba(84, 144, 245, 0.2);
  }

  .cl-gray{
    background-color: #F7EBCF;
  }
  .btn-lite-green{
    background-color: #09A15C;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 17px;
  }
  .btn-lite-blue{
    background-color: #5490F5;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 17px;
  }
  .btn-lite-gray{
    background-color: #FFC239;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 17px;
  }

  /* table style */

  .table{
    border-collapse: collapse;
  }
  .table td{
    border: 1px #0e0e0e
  }

  /* quote style */
  .quote{
    background-image: url(../assets/quote-bg.png);
    margin-left: 24px;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 40px 0px rgba(14, 14, 14, 0.15);
    border-radius: 20px;
    padding: 24px;
  }

  /* Recent style */
  .bangladesh-satellite{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 6px 40px 0px rgba(14, 14, 14, 0.15);
    border-radius: 20px;
    padding: 24px;
    margin: 24px 0px;
    gap: 48px;
  }
  .satellite-img .img{
    border-radius: 20px; 
  }
 .donate-section{
  text-align: center;
  width: 1280px;
  height: 600px;
 }
 .donate{
  display: flex;
  justify-content: space-evenly;
 }
  .amount{
    padding: 40px;
    border: none;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 6px 0px rgba(14, 14, 14, 0.15);
  }
 
  .input{
    width: 1032px;
    height: 64px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
    box-shadow: 0px 6px 6px 0px rgba(14, 14, 14, 0.15);
    border: none;
  }

  .email{
    width: 600px;
    height: 44px;
  }

  .news{
    text-align: center;
    padding: 80px 265px;
  }

  footer{
    text-align: center;
  }

 /* hover style */

  .ideas:hover, .input:hover, .amount:hover{
  background-color: #5490F5;
 }

 .btn-green:hover, .btn-lite-blue:hover, .btn-lite-gray:hover, .btn-lite-green:hover{
  /* width: 200px;
  height: 50px; */
  transform: scale(1.2);
 }
  
